<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">
        <span class="subtab-button active">Music</span>
        <span class="subtab-button">Postcasts</span>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
 <ion-content>
          <super-tabs
          [activeTabIndex]="0"
          [config]="{ avoidElements: true, maxDragAngle: 30 }"
        >
          <super-tabs-toolbar slot="top" scrollable class="super-tabs-toolbar-custom">
            <super-tab-button>
              <ion-label  style="color: white;">Playlists</ion-label>
            </super-tab-button>
            <super-tab-button>
              <ion-label style="color: white;"  >Artists</ion-label>
            </super-tab-button>
            <super-tab-button>
              <ion-label  style="color: white;">Albums</ion-label>
            </super-tab-button>
          </super-tabs-toolbar>

          <super-tabs-container>
            <super-tab>
              <ion-content>
                <div class="search-bar">
                  <ion-row class="ion-align-items-center">
                    <ion-col>
                      <ion-searchbar placeholder="Find in playlists"></ion-searchbar>
                    </ion-col>
                    <ion-col size="auto">
                      <ion-button  style="color: rgb(120, 121, 113);" >
                        Filters
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </div>

                <ion-list>
                  <ion-item lines="none">
                    <ion-thumbnail slot="start">
                      <div class="add-thumnail">
                        <ion-icon name="add-outline"  style="color: rgb(131, 125, 125);"></ion-icon>
                      </div>
                    </ion-thumbnail>
                    <ion-label>
                      <h2><strong  style="color: white;">Create playlist</strong></h2>
                    </ion-label>
                  </ion-item>

                  <ion-item lines="none" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
                    <ion-thumbnail slot="start">
                      <img src="{{'assets/imagen/mix3' + (i%5 + 1) + '.jpg'}}" >
                    </ion-thumbnail>
                    <ion-label>
                      <h2><strong  style="color: white;">Playlist number {{i + 1}}</strong></h2>
                      <p>
                        <ion-icon name="shuffle-outline"></ion-icon>
                        28 songs
                      </p>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </super-tab>

            <super-tab>
              <ion-content>
                <div class="search-bar">
                  <ion-row class="ion-align-items-center">
                    <ion-col>
                      <ion-searchbar placeholder="Find in artists"></ion-searchbar>
                    </ion-col>
                    <ion-col size="auto">
                      <ion-button color="light">
                        Filters
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </div>

                <ion-list>
                  <ion-item lines="none" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
                    <ion-avatar slot="start">
                      <img src="{{'assets/imagen/mix1' + (i%5 + 1) + '.jpg'}}" alt="">
                    </ion-avatar>
                    <ion-label>
                      <h2><strong  style="color: white;">Taylor Swift {{i + 1}}</strong></h2>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </super-tab>

            <super-tab>
              <ion-content>
                <div class="search-bar">
                  <ion-row class="ion-align-items-center">
                    <ion-col>
                      <ion-searchbar placeholder="Find in albums"></ion-searchbar>
                    </ion-col>
                    <ion-col size="auto">
                      <ion-button color="light">
                        Filters
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </div>

                <ion-list>
                  <ion-item lines="none" *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
                    <ion-thumbnail slot="start">
                      <img src="{{'assets/imagen/mix3' + (i%5 + 1) + '.jpg'}}">
                    </ion-thumbnail>
                    <ion-label>
                      <h2><strong  style="color: white;">Album number {{i + 1}}</strong></h2>
                      <p  style="color: white;">
                        <ion-icon name="shuffle-outline"></ion-icon>
                        by Spotify
                      </p>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </ion-content>
            </super-tab>
          <super-tabs-container>
        <super-tabs>
          <ion-tabs>
            <ion-tab-bar>
                <ion-tab-button routerLink="/inicio">
                    <ion-icon name="home-outline"></ion-icon>Inicio</ion-tab-button>
                <ion-tab-button routerLink="/buscar">
                    <ion-icon name="search-outline"></ion-icon>Buscar</ion-tab-button>
                <ion-tab-button routerLink="/libreria">
                    <ion-icon name="reorder-four-outline"></ion-icon>Tu biblioteca</ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
</super-tabs>
</super-tabs-container>
</super-tabs-container>
</super-tabs>
</ion-content>

  <router-outlet></router-outlet>
  </ion-app>
