<ion-app>
    <ion-header>
        <ion-toolbar>
            <ion-buttons>
                <ion-button style ="display:flex; justify-content:flex-start" routerLink="/registro">
                    <ion-icon name="arrow-back-outline">
                    </ion-icon>
                </ion-button>
              </ion-buttons>
          <ion-title class="i" color="white">Iniciar Sesion</ion-title>
        </ion-toolbar>
      </ion-header>
    
    <ion-content>
        <div>
            <h2 class="negritas"> Ingresa tu correo</h2>
            <ion-list>
                <ion-item>
                    <ion-label></ion-label>
                    <ion-input type="text" class="caja"></ion-input>
                </ion-item>

                <h2 class="negritas"> Ingresa tu contraseña </h2>
            <ion-list>
                <ion-item>
                    <ion-label></ion-label>
                    <ion-input type="text" class="caja"></ion-input>
                </ion-item>
                <div class="boton">
                    <ion-button class="verde" routerLink="/perfil">Siguiente</ion-button>
                </div>
                    </ion-list>
                
            </ion-list>
        </div>
        <router-outlet></router-outlet>
    </ion-content>
</ion-app>
