
<ion-app>
<ion-tabs>
    <ion-tab-bar>
        <ion-tab-button routerLink="/inicio">
            <ion-icon name="home-outline"></ion-icon>Inicio</ion-tab-button>
        <ion-tab-button routerLink="/buscar">
            <ion-icon name="search-outline"></ion-icon>Buscar</ion-tab-button>
        <ion-tab-button routerLink="/libreria">
            <ion-icon name="reorder-four-outline"></ion-icon>Tu biblioteca</ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
<router-outlet></router-outlet>
</ion-app>
<!--
<div id="ticket">
  <h2 >===Ticket de Compra====</h2>
  <label  for="articulo">Articulo:</label>
  <input style="background-color: rgb(184, 184, 184);"  type="text" id="articulo" class="campo-texto">

  <br>
  <br>
  <label style="text-align: center;"  for="precio">Precio:</label>
  <input style="background-color: rgb(184, 184, 184);" type="number" id="precio" class="campo-texto">

  <br>
  <br>
  <button style="background-color: rgb(252, 245, 149);" id="CalcularBTN" onclick="agregarElemento()" >Calcular total</button>

  <div id="ticket">
      <p>======TU TICKET DE COMPRA======</p>

      <ul id="ListaCompra">

      </ul>
      <p id="total">Total: $</p>
  </div>

</div>
  <div class="caja" id="verde">
      <div>
          <h5>Exito</h5>
          <p>Si jalo </p>
      </div>
  
      <button onclick="cerrarCaja('verde')">x</button>
  </div>
  
  
  <div class="caja" id="amarillo">
      <div>
          <h5>Advertencia</h5>
          <p>Al tiro :P</p>
      </div>
  
      <button onclick="cerrarCaja('amarillo')">x</button>
  </div>
  
  
  <div class="caja" id="roja">
      <div>
          <h5>Peligro</h5>
          <p>Ups :P</p>
      </div>
      <button onclick="cerrarCaja('roja')">x</button>
  </div> 

  
  <div id="contenido">
  
  </div> 
  
  <script src="script.js"></script>
  -->
  