<div class="titulo">
    <ion-header>
        <ion-title>REPRODUCIENDO DESDE PLAYLIST</ion-title>
    </ion-header>
</div>
  
  <ion-content class="bg-gradient" style="text-align: center;">
    <div class="album-cover">
      <ion-thumbnail>
        <img src="../../assets/imagen/taylor.png" >
      </ion-thumbnail>
    </div>
  
    <div class="song-info ion-padding">
      <div class="song-title" style="color: white;">
        Taylor Swift
      </div>
      <div class="artist-name">
        <ion-text color="medium">fearless</ion-text>
      </div>
    </div>
  
    <div class="song-timeline ion-padding">
      <ion-progress-bar value="0.25"></ion-progress-bar>
      <ion-row class="grid-no-padding ion-justify-content-between">
        <ion-col size="auto" style="color: white;">
          0:53
        </ion-col>
        <ion-col size="auto" style="color: white;">
          -4:18
        </ion-col>
      </ion-row>
    </div>
  
    <div class="buttons ion-padding">
      <ion-button color="dark" fill="clear" size="small">
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button color="dark" fill="clear" size="small">
        <ion-icon slot="icon-only" name="play-skip-back-sharp"></ion-icon>
      </ion-button>
      <ion-fab-button color="dark">
        <ion-icon name="play-sharp"></ion-icon>
      </ion-fab-button>
      <ion-button color="dark" fill="clear" size="small">
        <ion-icon slot="icon-only" name="play-skip-forward-sharp"></ion-icon>
      </ion-button>
      <ion-button color="dark" fill="clear" size="small">
        <ion-icon slot="icon-only" name="repeat-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-content>
  
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="medium">
          <ion-icon slot="icon-only" name="desktop-outline" size="small"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon slot="icon-only" name="share-outline" size="small"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  
