/* You can add global styles to this file, and also import other style files */
:root {
    
    /*Variables */
    --verde: #1ED760;
    --bg-color: #030303;
    --gris-oscuro: #777777;
    --gris-claro: #B3B3B3;
    --blanco: #fff;
    --negro: #000;

    /*Variables de Ionic*/
    --ion-background-color: var(--bg-color);
    --ion-color-primary: var(--blanco);

}
