p{
    text-align: center;
    color: white;
    display: grid;
    place-items: center;
}
.i{
    text-align: center;
    color: white;
}
.negritas {
    font-weight: 700;
    color: white;
    
}
.caja{
    background-color: rgb(253, 244, 244);
    height: 6vH;
    
}

ion-button.verde {
    --background: var(--verde);
    --background-hover: #9ce0be;
    --background-activated: #88f4be;
    --background-focused: #88f4be;
    --color: #000;
    --box-shadow: none;
    text-transform: capitalize;
    --border-radius: 50px;
    height: auto;
    --padding-top: 20px;
    --padding-bottom: 20px;
    font-size: 16px;
    text-align: center;
    place-items: center;
    
}

div.boton{
    display: grid;
    place-items: center;
    height: 450px;
    text-align: center;
    height: 10Vh;
}